body {
    color: white;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
#video-bg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    max-width: 90%;
  }
  
  .content {
    position: relative;
    z-index: 1;
    margin: 20%;
  }

.titoloLavorativo,
.posizioneGeogrfica,
.buttons {
  margin-bottom: 20px; 
}

ul {
    list-style-type:none;
}


.button1:hover {
  background-color:#892D13;
  color: white;
}

.button2:hover {
  background-color: #892D13;
  color: white;
}



